.cartProduct {
    display: flex;
    margin: 10px 0;
}

.cartProduct__image {
    width: 180px;
    height: 180px;
    object-fit: contain;
}

.cartProduct__info {
    display: flex;
    padding: 10px;
    flex-direction: column;
    
}

.cartProduct__info > button {
    background-color: #F3A847;
    border: 1px solid;
    border-color: #b98949;
    margin-top: 10px;
    color: #111; 
}

.cartProduct__title {
    font-size: 17px;
    font-weight: 800;
}

.cartProduct__rating {
    display: flex;
}