.product__rating {
    display: flex;
}

.product {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-width: 100px !important;
    width: 100%;
    padding: 20px;
    
    /* max-height: 400px;  */
    margin: 20px 10px;
    z-index: 1;
    background-color: white !important;
}

.product > img {
    width: 100%;
    max-height: 220px;
    object-fit: contain;
    margin-bottom: 15px;
}

.product > button {
    background-color: #F3A847;
    border: 1px solid;
    border-color: #b98949;
}

.product__info {
    height: 100px;
} 